@import url("https://fonts.googleapis.com/css?family=Montserrat:300, 400");

:root {
  --full-width: 100%;
  --bg-color: rgb(166, 242, 204); /* mint green */
  --neutral-color: rgb(222, 222, 222); /* light gray */
  --font-size: 1em;
  --main-width: 890px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size);
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.bg-color {
  background-color: var(--bg-color);
}

#policy-div {
  height: 30px;
  width: var(--full-width);
  margin-bottom: 25px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: var(--main-width);
  margin: 0 auto;
  border-bottom: 3px solid var(--neutral-color);
}

#header-img {
  max-width: 3em;
}

#header-name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

#nav-bar {
  align-self: center;
  margin-left: auto;
  width: 15em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom: 3px solid var(--neutral-color);
}

#hero-div {
  display: flex;
  flex-direction: row;
  width: var(--main-width);
  margin: 0 auto;
  padding-top: 240px;
}

#form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

#hero-text {
  font-size: 2.4em;
  font-family: "Montserrat", sans-serif;
}

#email-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 340px;
  height: 40px;
  padding: 0.5em;
  border-radius: 10px;
}

.input-field {
  min-width: 220px;
}

.button {
  border-radius: 3px;
  background-color: rgb(7, 68, 195);
  border: 1px solid rgb(7, 68, 195);
  color: #fff;
  padding: 7px;
}

#hero-img {
  width: 100%;
  background: #fff
    url(https://www.dropbox.com/s/m6wmxknnars6x3h/green-energy.jpg?dl=1)
    no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: auto 100%;
}

.content-bg {
  margin-top: 80px;
}

.content-pad-top {
  padding-top: 90px;
}

.content-div {
  margin: 0 auto;
  max-width: var(--main-width);
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
}

.round-img {
  border-radius: 20%;
  padding: 50px;
}

.item-img {
  background-color: #fff;
  width: 200px;
  height: auto;
}

.item-copy {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-left: 50px;
}

.item-header {
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
}

#video-div {
  display: flex;
  justify-content: center;
  padding: 190px 0 150px 0;
  width: 100%;
  margin: 0 auto;
}

footer {
  height: 350px;
  background-color: #000;
  color: #fff;
  font-size: 0.7em;
  line-height: 1.4em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: space-around;
  padding-top: 40px;
}

.footer-list {
  padding-left: 150px;
}

footer a {
  color: var(--neutral-color);
}

footer a:hover {
  color: var(--bg-color);
  border-bottom: 2px solid var(--bg-color);
}

@media screen and (min-width: 400px) and (max-width: 890px) {
  :root {
    --main-width: 80%;
  }

  #hero-img {
    display: none;
  }
}

@media screen and (max-width: 399px) {
  :root {
    --main-width: 90%;
  }

  #hero-img {
    display: none;
  }

  #header-name {
    display: none;
  }

  #email-flex {
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    height: 50px;
    padding: 2em;
    border-radius: 10px;
  }

  #submit {
    margin-top: 15px;
  }

  .content-pad-top {
    padding-top: 10px;
  }
  
  .content-div {
    padding: 40px 20px 40px 20px;
  }
  
  #video-div {
  padding: 10px 0 80px 0;
}
  
  
}

@media screen and (max-width: 720px) {
  .content-div {
    flex-direction: column;
    justify-content: center;
  }

  .item-img {
    width: 150px;
    height: auto;
  }

  .item-header {
    margin-top: 20px;
  }

  .item-copy {
    margin: 0 auto;
    padding-left: 0px;
    max-width: 90%;
  }
  
  footer {
  height: 800px;
  flex-direction: column;
  align-content: space-around;
  padding: 40px 0px 40px 60px;
}

.footer-list {
  padding: 30px 0 30px 0;
  }
}

@media screen and (max-width: 500px) {
  h3 {
    display: none;
  }
}
